
<div class="pd-20">
    <div class="cl pd-5 bg-1 bk-gray mt-20">
         <span class="l">
             <input type="button" value="保存部门" class="btn btn-danger radius ajax-post confirm" url="<?php echo arU('saveJob',array('id' => $id)); ?>"
                    />
        </span>
    </div>

    <table class="table table-border table-bordered table-bg" style="">
        <thead>
        <tr>
            <th scope="col" colspan="16">职位列表</th>
        </tr>
        <tr class="text-c">
            <th><input name="" type="checkbox" class="selectAll" value=""></th>
            <th>职位名称</th>
            <th>所属部门</th>
            <th>项目ID</th>
        </tr>
        </thead>

          <tbody>
        <?php foreach($result as $row) { ?>
        <tr class="text-c">

            <?php if(isset($info)){
                 if(in_array($row['id'],$info)){ ?>
            <td width="8%"><input class="ids" type="checkbox" name="ids[]" value="<?php echo $row['id']?>" checked="checked"/></td>
            <?php }else{ ?>
            <td width="8%"><input class="ids" type="checkbox" name="ids[]" value="<?php echo $row['id']?>"/></td>
            <?php } ?>
            <?php }else{ ?>
            <td width="8%"><input class="ids" type="checkbox" name="ids[]" value="<?php echo $row['id']?>"/></td>
            <?php } ?>
            <td width="15%"><?php echo $row['j_name'] ?></td>
            <td width="15%"><?php echo $row['dname']?></td>
            <td width="15%"><?php echo $row['i_id']?></td>
        </tr>
        <?php } ?>
        </tbody>

    </table>
</div>
