<div class="pd-20">
    <form action="" method="post" class="form form-horizontal" id="form-article-add">
        <input type="hidden" name="sid" value="<?php if(isset($data['sid'])) { echo $data['sid']; } ?>">
        <?php if(isset($data['sid'] )) {  ?>
        <div class="row cl">
            <label class="form-label col-2">权限组ID：</label>
            <label class="form-label col-3" style="text-align: left"><?php echo $data['sid'] ?></label>
        </div>
        <?php } ?>

        <div class="row cl">
            <label class="form-label col-2">权限组名称：</label>
            <div class="formControls col-2" style="position: relative;">
                <input type="text" class="input-text"
                       value="<?php if(isset($data['name'])) { echo $data['name']; }?>" placeholder=""
                       name="name">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-2">权限组状态：</label>
            <div class="formControls col-2" style="position: relative;">
                 <input type="text" class="input-text"
                       value="<?php if(isset($data['status'])) { echo $data['status']; }?>" placeholder=""
                       name="status">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-2">描述：</label>
            <div class="formControls col-2" style="position: relative;">
                 <input type="text" class="input-text"
                       value="<?php if(isset($data['des'])) { echo $data['des']; }?>" placeholder=""
                       name="des">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-2">排序：</label>
            <div class="formControls col-2" style="position: relative;">
                <input type="text" class="input-text"
                       value="<?php if(isset($data['sorder'])) { echo $data['sorder']; }?>" placeholder=""
                       name="sorder">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-2">所属权限组：</label>
            <div class="formControls col-2" style="position: relative;">
                <select name="psid">
                    <option value="0">顶级权限组</option>
                    <?php foreach($info as $vol) { ?>
                        <?php if ($vol['sid'] == $data['psid'] ){ ?>
                            <option value="<?php echo $vol['sid'] ?>" selected="selected"><?php echo $vol['name']?></option>
                        <?php }else{ ?>
                            <option value="<?php echo $vol['sid'] ?>"><?php echo $vol['name']?></option>
                        <?php } ?>
                    <?php } ?>
                </select>
            </div>
        </div>

        <div class="row cl">
            <div class="col-10 col-offset-2">
                <button class="btn btn-secondary radius ajax-post" type="submit">&nbsp;&nbsp;修改&nbsp;&nbsp;</button>
                <button class="btn btn-default radius" type="button" id="reset" style="margin-left: 20px">
                    &nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>


<script>
    $('#reset').click(function () {
        $(this).parent().parent().parent().find('textarea').prop('value', "");
        $(this).parent().parent().parent().find('input').prop('value', "");
        $(this).parent().parent().parent().find('option').prop("selected", false);
        ;
    });

</script>