<div class="pd-20">
    <form action="" method="post" class="form form-horizontal" id="form-article-add">
        <div class="row cl">
            <label class="form-label col-2">部门名称：</label>
            <div class="formControls col-2" style="position: relative;">
                <input type="text" class="input-text"
                       value="" placeholder=""
                       name="d_name">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-2">部门编号：</label>
            <div class="formControls col-2" style="position: relative;">
                <input type="text" class="input-text"
                       value="" placeholder=""
                       name="d_number">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-2">部门地址：</label>
            <div class="formControls col-2" style="position: relative;">
                <input type="text" class="input-text"
                       value="" placeholder=""
                       name="d_address">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-2">所属部门：</label>
            <div class="formControls col-2" style="position: relative;">
                <select name="pid">
                    <option value="0">顶级分类</option>
                    <?php foreach($data as $vol) { ?>
                    <option value="<?php echo $vol['id']; ?>"><?php echo $vol['d_name']; ?></option>
                    <?php } ?>
                </select>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-2">排序：</label>
            <div class="formControls col-2" style="position: relative;">
                <input type="text" class="input-text"
                       value="" placeholder=""
                       name="sort">
            </div>
        </div>
        

        <div class="row cl">
            <div class="col-10 col-offset-2">
                <button class="btn btn-secondary radius ajax-post" type="submit">&nbsp;&nbsp;添加&nbsp;&nbsp;</button>
                <button class="btn btn-default radius" type="button" id="reset" style="margin-left: 20px">
                    &nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>



<script>
    $('#reset').click(function () {
        $(this).parent().parent().parent().find('textarea').prop('value', "");
        $(this).parent().parent().parent().find('input').prop('value', "");
        $(this).parent().parent().parent().find('option').prop("selected", false);
        ;
    });


</script>